NODE_ENV=development
PORT=5000
MONGODB_URL=mongodb://<YOUR_MONGO_USER>:<YOUR_MONGO_PASS>@localhost:27017/<YOUR_DB_NAME>
BCRYPT_SALT_ROUNDS=12
JWT_ACCESS_SECRET=<YOUR_ACCESS_SECRET>
JWT_ACCESS_EXPIRE=30d
JWT_REFRESH_SECRET=<YOUR_REFRESH_SECRET>
JWT_REFRESH_EXPIRE=365d

# PayDunya Config
PAYDUNYA_MODE=sandbox # sandbox or live
PAYDUNYA_MASTER_KEY=<YOUR_MASTER_KEY>
PAYDUNYA_PRIVATE_KEY=<YOUR_PRIVATE_KEY>
PAYDUNYA_PUBLIC_KEY=<YOUR_PUBLIC_KEY>
PAYDUNYA_TOKEN=<YOUR_TOKEN>
